.content {
  padding: 1rem;;
  text-align: center;
}

img {
  width: 50%;
}

h4 {
  font-family: 'Trebuchet MS', 'Lucinda Sans Unicode', 'Lucinda Grande',
  'Lucinda Sans', Arial, sans-serif;
  margin-bottom: 10px;
  font-size: 28px;
}